body {
    background: white;

    font-family: 'Open Sans', sans-serif;
    width:100%;


}
html {
    min-height:100%;
    width:100%;
}
.hidden {
    display:none;
}


.privacy, .test {
    padding:80px 30px 20px;
    position:relative;
    box-sizing: border-box;
    width:100%;

    .teddyContainer {
        display:block;
        width:150px;
        height:150px;
        border-radius:200px;
        overflow:hidden;
        margin:30px auto 20px;
    }
    .teddy {
        width:100%;
        height:100%;
    }

    h1 {
        color:black;
        font-weight:300;
        font-size:40px;
        text-align: center;
        margin-bottom:60px;
        margin-top:30px;
    }
    .subtitle {
        font-weight:300;
        font-size:26px;
        margin-top:5px;
        font-family: 'Quicksand', sans-serif;
    }

    .logo {
            margin:0px auto 00px;
            display:block;
            width:150px;
        img {
            width:100%;
        }
    }
    .section {
        margin:0 auto 50px;
        max-width:800px;
        font-size:16px;
        font-weight: 300;
    }
    h2 {
        font-size:20px;
        font-weight:400;
        margin-bottom:20px;
        font-family: 'Roboto', serif;
        //text-align: center;
    }
    ul {
        //margin:0 30px;
    }
    li {
        margin-bottom:10px;
        line-height:1.4em;
    }

    footer {
        padding:100px 0 0px;
        margin:0 auto;
        max-width:800px;
        //max-width:800px;
        line-height: 1.3em;
        font-size: 12px;
        //display:inline-block;
        div {
            padding-bottom:5px;
        }
    }
}

.test {
    p {
        margin-bottom:35px;
    }
    h1 {
        margin-bottom:20px;
        font-size:30px;
    }
    .section {
        text-align: center;
    }
    button,
    a {
        padding:10px 20px;
        background-color:#19e0c3;
        border-radius: 50000px;
        color:white;
        font-weight: 500;
        text-decoration: none;
        display:inline-block;
        margin-bottom:15px;
        width:520px;
    }
    .custominputparent {
        margin-bottom:20px;
        width:560px;
        display:inline-block;
        position:relative;
    }
    button.custominputsubmit {
        border:none;
        font-size:16px;
        cursor:pointer;
        position:absolute;
        right:0;
        top:0;
        height:50px;
        width:120px;
        padding:0 20px;
        line-height: 50px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        box-sizing: border-box;

        &:disabled {
            cursor:default;
            background-color:#ccc;
        }
    }
    .custominput {
        padding:10px 140px 10px 30px;
        height:50px;
        border-radius: 50000px;
        display:inline-block;
        border:2px solid #aaa;
        width:100%;

        &:focus {
            outline: none !important;
            border:2px solid #19e0c3;
          }
    }
}
@media only screen and (max-width: 700px) {
    .privacy, .test {
        padding-top:40px;
        .teddyContainer {
            width:100px;
            height:100px;
        margin:20px auto 20px;
        }
        h1 {
            font-size:26px;
            margin-bottom:40px;
            margin-top:15px;
        }
        h2 {
            font-size:20px;
            font-weight:400;
            margin-bottom:20px;
        }
        .section {
            font-size:15px;
        }
        footer {
            font-size: 10px;
            div {
                padding-bottom: 0;
            }
        }
    }
    .test {
        h1 {
            margin-bottom:20px;
        }
        p {
            margin-bottom:40px;
        }
        .custominputparent,
        a {
            display:block;
            width:auto;
            margin-bottom:20px;
        }
    }
}

.index {
    h1 {
        margin-bottom: 30px;
    }
    .section {
        max-width:700px;
        font-size:18px;
        li {
            text-align:center;
            margin-bottom:20px;
            line-height: 1.6em;
        }
    }
    .download-links {
        display:block;
        margin-bottom:50px;
        margin-top:50px;
        text-align: center;
        a {
            height:75px;
            margin-left:30px;
            margin-right:30px;
        }
        img {
            height:75px;
        }
    }
}

@media only screen and (max-width: 660px) {
    .index {
        .download-links {
            a {
                margin-bottom:20px;
                margin-top:20px;
                width:300px;
                height:auto;
                display:inline-block;
            }
        }
    }
}
